.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding-left: 8px;
  padding-right: 8px;
  background: rgba(231, 229, 224, 0.85);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(161, 161, 161, 0.699);
}

.navbar p {
  font-size: 20px;
  color: rgb(78, 40, 53);
  font-weight: 500;
}

.nav-links-desktop {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: auto;
}

.nav-links-desktop a {
  display: inline-block;
  text-decoration: none;
  color: rgb(78, 40, 53);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  transition: color 0.3s ease, transform 0.3s ease;
  transform: scale(1);
}


.nav-links-container {
  display: none;
}

.nav-links-desktop a:hover {
  color: rgb(169, 92, 105);
  transform: scale(1.1);
}


.nav-links-mobile {
  display: none;
}

.closeIcon {
  display: none;
}

.hamburgericon {
  display: none;
}

@media (max-width: 768px) {

  .navbar {
    padding-bottom: 20px;
  }

  .nav-links-desktop {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0;
    background: rgb(231, 229, 224);
    list-style: none;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .nav-links-mobile a {
    text-decoration: none;
    color: rgb(78, 40, 53);
    font-weight: 500;
  }

  .nav-links-mobile li {
    padding: 8px;
  }

  .closeIcon {
    display: block;
  }

  .hamburgericon {
    display: block;
  }
}
